<section
  *ngIf="!isCropModeActive; else cropModeTemplate"
  class="file-upload-zone theme-foreground-secondary-color"
  (dragover)="(false)"
  (dragend)="(false)"
  (drop)="onFilesImport($event)"
>
  <input
    #file
    type="file"
    [accept]="acceptedFiles"
    [multiple]="isMultiple"
    hidden
    (change)="onFilesImport($event)"
  />

  <mat-icon
    *ngIf="!previews.length; else filePreviewTemplate"
    class="theme-foreground-secondary-color file-upload-zone-icon"
    >file_upload</mat-icon
  >
  <span *ngIf="isMultiple" class="p-5 theme-foreground-secondary-color" i18n
    >Drag files here</span
  >
  <span *ngIf="!isMultiple" class="p-5 theme-foreground-secondary-color" i18n
    >Drag a file here</span
  >
  <span i18n class="p-5 theme-foreground-secondary-color">Or</span>

  <div class="button-group">
    <button
      *ngIf="isMultiple"
      mat-raised-button
      class="rounded"
      (click)="file.click()"
      i18n
      >Select files</button
    >
    <button
      *ngIf="!isMultiple"
      mat-raised-button
      class="rounded"
      (click)="file.click()"
      i18n
      >Select a file</button
    >
    <button
      [disabled]="!previews.length"
      mat-raised-button
      class="icon-after rounded"
      color="accent"
      type="submit"
      (click)="onSubmit()"
    >
      <span i18n>Submit</span>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</section>

<ng-template #cropModeTemplate>
  <app-image-cropper
    [aspectRatio]="imageAspectRatio ?? 1 / 1"
    [isRoundPreview]="isRoundPreview"
    [originalFile]="fileToCrop!.file"
    (crop)="onImageCropped($event)"
  ></app-image-cropper>
</ng-template>

<ng-template #filePreviewTemplate>
  <div class="files-preview">
    <div
      *ngFor="let preview of previews; let index = index; trackBy: trackByIndex"
      class="file-preview-wrapper"
    >
      <img
        draggable="false"
        [src]="preview"
        i18n-alt
        alt="Selected file preview"
        class="active"
      />
      <button
        mat-raised-button
        class="remove-item-button round mat-elevation-z1"
        color="warn"
        matTooltip="Remove item"
        i18n-matTooltip
        aria-label="Remove item button"
        i18n-aria-label
        (click)="onItemRemove(index)"
      >
        <mat-icon inline>close</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
